Repository lordforbes/owncast: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, prettier, css-linter, js-unused, go-fmt, golangci-lint, go-test, js-test

js-linter:
  run: npx eslint --fix --ext {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  staged_fixed: true

css-linter:
  run: npx stylelint --fix {staged_files}
  stage_fixed: true

js-unused:
  run: npx knip --include dependencies,files,exports

go-fmt:
  run: go tool gofumpt -l -w {staged_files}
  stage_fixed: true

golangci-lint:
  run: go tool golangci-lint run ./...
  stage_fixed: true

go-test:
  run: go test ./... > /dev/null

js-test:
  run: npm test

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/IlPweTBci1IphGTvHYNKJ/_buildManifest.js
  static/web/_next/static/chunks/1408-18ca2eb35a64cefb.js
  static/web/_next/static/chunks/1408-5c577c89472489fe.js
  static/web/_next/static/chunks/3064-786634416b578b28.js
  static/web/_next/static/chunks/3064-8aa46f346fa2b47a.js
  static/web/_next/static/unb8tYVszRudFAqtjiOIN/_buildManifest.js
  static/web/_next/static/unb8tYVszRudFAqtjiOIN/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

fix(ap): check for like activity iri. Fixes #3223
  activitypub/inbox/like.go
Due: go-fmt, golangci-lint, go-test

chore: go mod tidy
  go.mod
  go.sum
Due: none

fix(chat): fix emoji rendering as text. Fixes #4287
  core/chat/events/events.go
Due: go-fmt, golangci-lint, go-test

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/7bSvN5mYz1n6tEMmHoJa3/_buildManifest.js
  static/web/_next/static/7bSvN5mYz1n6tEMmHoJa3/_ssgManifest.js
  static/web/_next/static/chunks/1408-18ca2eb35a64cefb.js
  static/web/_next/static/chunks/1408-5c577c89472489fe.js
  static/web/_next/static/chunks/885-4ddb82888c4ed808.js
  static/web/_next/static/chunks/885-8fb2757248fe2abb.js
  static/web/_next/static/unb8tYVszRudFAqtjiOIN/_buildManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

chore: add additional project assets
  web/.storybook/stories-category-doc-pages/ImageAsset.tsx
  web/.storybook/stories-category-doc-pages/LogosAndGraphics.mdx
  web/.storybook/story-assets/project/apps-logo.png
  web/.storybook/story-assets/project/black-outlined.svg
  web/.storybook/story-assets/project/logo-black.svg
  web/.storybook/story-assets/project/logo-semisimple-black-outlined.svg
  web/.storybook/story-assets/project/logo-semisimple-black.svg
  web/.storybook/story-assets/project/logo-semisimple-white-outlined.svg
  web/.storybook/story-assets/project/logo-semisimple-white.svg
  web/.storybook/story-assets/project/logo-simple-black-outlined.svg
  web/.storybook/story-assets/project/logo-simple-black.svg
  web/.storybook/story-assets/project/logo-simple-white-outlined.svg
  web/.storybook/story-assets/project/logo-simple-white.svg
  web/.storybook/story-assets/project/logo-translucent-grey.svg
  web/.storybook/story-assets/project/owncast-directory.png
  web/.storybook/story-assets/project/simple-black-outlined.svg
  web/.storybook/story-assets/project/simple-white-outlined.svg
  web/.storybook/story-assets/project/tv-apps-icon.png
Due: js-linter, prettier, js-unused

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/ZCLd2k1rR1Eujn_SK3qc6/_buildManifest.js
  static/web/_next/static/ZCLd2k1rR1Eujn_SK3qc6/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

fix(web): add missing space in footer
  web/components/ui/Footer/Footer.tsx
Due: js-linter, prettier, js-unused

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/OWPCTeXHGQ1ggOnN7ZZ7H/_buildManifest.js
  static/web/_next/static/OWPCTeXHGQ1ggOnN7ZZ7H/_ssgManifest.js
  static/web/_next/static/ZCLd2k1rR1Eujn_SK3qc6/_buildManifest.js
  static/web/_next/static/chunks/pages/index-1f2e29b63304b9fb.js
  static/web/_next/static/chunks/pages/index-a3877cc677ee1427.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/OWPCTeXHGQ1ggOnN7ZZ7H/_buildManifest.js
  static/web/_next/static/chunks/3064-22676f1a2fe8e11a.js
  static/web/_next/static/chunks/3064-786634416b578b28.js
  static/web/_next/static/m6sXrKt_tURgcRv-Q0dUa/_buildManifest.js
  static/web/_next/static/m6sXrKt_tURgcRv-Q0dUa/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

chore: bump version number
  config/constants.go
  openapi.yaml
Due: go-fmt, golangci-lint, go-test

Commit updated API documentation
  docs/api/index.html
Due: none

change go:embed call to use the go:embed all: directive (#4312)
  static/static.go
Due: go-fmt, golangci-lint, go-test

Fix prometheus handlers (#4311)
  test/automated/.gitignore
  test/automated/api/006_integrations.test.js
  webserver/handlers/integrations.go
Due: prettier, go-fmt, golangci-lint, go-test

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/V3bAhdgulGk4eufIB7uED/_buildManifest.js
  static/web/_next/static/V3bAhdgulGk4eufIB7uED/_ssgManifest.js
  static/web/_next/static/chunks/3064-22676f1a2fe8e11a.js
  static/web/_next/static/chunks/3064-f56c0fd5b895707e.js
  static/web/_next/static/m6sXrKt_tURgcRv-Q0dUa/_buildManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/V3bAhdgulGk4eufIB7uED/_buildManifest.js
  static/web/_next/static/WEV8gwbWAHjXGtEHPa72N/_buildManifest.js
  static/web/_next/static/WEV8gwbWAHjXGtEHPa72N/_ssgManifest.js
  static/web/_next/static/chunks/3064-0730223fec00f94d.js
  static/web/_next/static/chunks/3064-f56c0fd5b895707e.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

fix: fix linter error
  static/static.go
Due: go-fmt, golangci-lint, go-test

fix(api): fix fediauth code verification. fixes #4316 (#4317)
  webserver/handlers/auth/fediverse/fediverse.go
Due: go-fmt, golangci-lint, go-test

address activitypub notes to the streamer's follower collection (#4314)
  activitypub/apmodels/activity.go
  activitypub/outbox/outbox.go
  webserver/handlers/admin/federation.go
Due: go-fmt, golangci-lint, go-test

check for webfinger status code before parsing (#4332)
  activitypub/webfinger/webfinger.go
Due: go-fmt, golangci-lint, go-test

fix errorMessage being set as a raw error type instead of a string (#4333)
  web/components/modals/FediAuthModal/FediAuthModal.tsx
Due: js-linter, prettier, js-unused

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/UW9qeWPpcYFjrMwK_Tr2p/_buildManifest.js
  static/web/_next/static/UW9qeWPpcYFjrMwK_Tr2p/_ssgManifest.js
  static/web/_next/static/WEV8gwbWAHjXGtEHPa72N/_buildManifest.js
  static/web/_next/static/chunks/3064-0730223fec00f94d.js
  static/web/_next/static/chunks/3064-65e898eb3900b51d.js
  static/web/_next/static/chunks/5042.8721a75f6fc0841d.js
  static/web/_next/static/chunks/5042.a2754f1cd6a20265.js
  static/web/_next/static/chunks/webpack-ccf8844f6be4e07d.js
  static/web/_next/static/chunks/webpack-f00df51ad37490ce.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

go mod tidy (#4336)
  go.sum
Due: none

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/UW9qeWPpcYFjrMwK_Tr2p/_buildManifest.js
  static/web/_next/static/chunks/3064-65e898eb3900b51d.js
  static/web/_next/static/chunks/3064-df260c6dba02d7fa.js
  static/web/_next/static/jvTwu77GLdXEgv3zWe4FX/_buildManifest.js
  static/web/_next/static/jvTwu77GLdXEgv3zWe4FX/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Update standard-pull-request.md
  .github/PULL_REQUEST_TEMPLATE/standard-pull-request.md
Due: none

Update bug-report-feature-request.yml
  .github/ISSUE_TEMPLATE/bug-report-feature-request.yml
Due: none

chore: add detailed PR template
  .github/PULL_REQUEST_TEMPLATE/standard-pull-request.md
  .github/PULL_REQUEST_TEMPLATE/standard-pull-request.yml
Due: none

Revert "chore: add detailed PR template"
  .github/PULL_REQUEST_TEMPLATE/standard-pull-request.md
  .github/PULL_REQUEST_TEMPLATE/standard-pull-request.yml
Due: none

Update translations.yml
  .github/workflows/translations.yml
Due: none

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/YHMNbCgyDcCXjZRXlrobu/_buildManifest.js
  static/web/_next/static/YHMNbCgyDcCXjZRXlrobu/_ssgManifest.js
  static/web/_next/static/chunks/3064-95b24f73e160b1b1.js
  static/web/_next/static/chunks/3064-df260c6dba02d7fa.js
  static/web/_next/static/jvTwu77GLdXEgv3zWe4FX/_buildManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Disable support for the latency compensator in the player (#4348)
  web/components/video/settings-menu.ts
Due: js-linter, prettier, js-unused, js-test

chore: update lefthook + go mod tidy
  go.sum
Due: none

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/OfUt6tCnmK5jReydyeN5i/_buildManifest.js
  static/web/_next/static/OfUt6tCnmK5jReydyeN5i/_ssgManifest.js
  static/web/_next/static/YHMNbCgyDcCXjZRXlrobu/_buildManifest.js
  static/web/_next/static/chunks/6864.bfe886d6ec465779.js
  static/web/_next/static/chunks/6864.eeb7acff37c7e2e2.js
  static/web/_next/static/chunks/pages/embed/video-1447414f81d2b0d2.js
  static/web/_next/static/chunks/pages/embed/video-7817cda0603b8299.js
  static/web/_next/static/chunks/webpack-ccf8844f6be4e07d.js
  static/web/_next/static/chunks/webpack-e8064b271eba6ec6.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

chore(tests): pass --yes flag to npx
  lefthook.yml
Due: none

chore(web): remove unpopulated meta tags. Closes #4324
  web/components/layouts/Main/Main.tsx
Due: js-linter, prettier, js-unused

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/OfUt6tCnmK5jReydyeN5i/_buildManifest.js
  static/web/_next/static/chunks/pages/index-1f2e29b63304b9fb.js
  static/web/_next/static/chunks/pages/index-21a1d06685f43188.js
  static/web/_next/static/lmavAbrqHs3gtFMZaE99v/_buildManifest.js
  static/web/_next/static/lmavAbrqHs3gtFMZaE99v/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/WDv8gS03qGZZBSPUEZMSm/_buildManifest.js
  static/web/_next/static/WDv8gS03qGZZBSPUEZMSm/_ssgManifest.js
  static/web/_next/static/chunks/3064-6ebf7bf34386706b.js
  static/web/_next/static/chunks/3064-95b24f73e160b1b1.js
  static/web/_next/static/lmavAbrqHs3gtFMZaE99v/_buildManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Add BlueSky to the available social handle list (#4342)
  models/socialHandle.go
  web/public/img/platformlogos/bluesky.svg
Due: go-fmt, golangci-lint, go-test

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/VsS_T4y6H-wCAYVWXnFbn/_buildManifest.js
  static/web/_next/static/VsS_T4y6H-wCAYVWXnFbn/_ssgManifest.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/img/platformlogos/bluesky.svg
  static/web/index.html
  static/web/sw.js
Due: prettier

Bundle embedded web app
  static/web/404.html
  static/web/404/index.html
  static/web/_next/static/DAqYSHRk-5YJFq2ip88IF/_buildManifest.js
  static/web/_next/static/DAqYSHRk-5YJFq2ip88IF/_ssgManifest.js
  static/web/_next/static/VsS_T4y6H-wCAYVWXnFbn/_buildManifest.js
  static/web/_next/static/chunks/1408-18ca2eb35a64cefb.js
  static/web/_next/static/chunks/1408-5c577c89472489fe.js
  static/web/admin/access-tokens/index.html
  static/web/admin/actions/index.html
  static/web/admin/chat/emojis/index.html
  static/web/admin/chat/messages/index.html
  static/web/admin/chat/users/index.html
  static/web/admin/config-chat/index.html
  static/web/admin/config-federation/index.html
  static/web/admin/config-notify/index.html
  static/web/admin/config-social-items/index.html
  static/web/admin/config-video/index.html
  static/web/admin/config/general/index.html
  static/web/admin/config/server/index.html
  static/web/admin/federation/actions/index.html
  static/web/admin/federation/followers/index.html
  static/web/admin/hardware-info/index.html
  static/web/admin/help/index.html
  static/web/admin/index.html
  static/web/admin/logs/index.html
  static/web/admin/stream-health/index.html
  static/web/admin/upgrade/index.html
  static/web/admin/viewer-info/index.html
  static/web/admin/webhooks/index.html
  static/web/embed/chat/readonly/index.html
  static/web/embed/chat/readwrite/index.html
  static/web/embed/video/index.html
  static/web/index.html
  static/web/sw.js
Due: prettier

Path conditions:
  js-linter: any of: *.{js,ts,jsx,tsx} and ^web/
  prettier: any of: *.{js,ts,jsx,tsx,css,scss}
  css-linter: any of: *.{css,scss} and ^web/
  js-unused: any of: *.{js,ts,jsx,tsx} and ^web/
  go-fmt: any of: *.go
  golangci-lint: any of: *.go
  go-test: any of: *.go
  js-test: any of: *.{js,ts,jsx} and ^web/
